[Unit]
Description=Kong API Gateway
After=network.target postgresql.service

[Service]
Type=forking
User=root
ExecStart=/usr/local/bin/kong start -c /etc/kong/kong.conf
ExecReload=/usr/local/bin/kong reload -c /etc/kong/kong.conf
ExecStop=/usr/local/bin/kong stop
Restart=on-failure

[Install]
WantedBy=multi-user.target
